* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
}



.sections-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-one {
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 10vh;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 5vh;
    font-weight: 600;
}

.section-two {
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 40vh;
    margin-bottom: 30px;
    display: flex;
    border-radius: 8px;
    border: 1px solid red;
}

.column-left {
    background-color: rgb(255, 255, 255);
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 0%;
    border-radius: 8px;
}

.column-right {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.title {
    margin: 5px 0 5px 0;
    font-size: 3vh;
    color: #E01F4C;
    font-family: 'Montserrat';
    font-style: normal;
}

.text-box {
    background-color: white;
    color: #000000;
    padding: 10px;
    height: 100%;
    font-family: 'Montserrat';
    font-style: normal;
}

.text-box ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
}

.text-box li {
    margin: 10px 0;
}

.section-three {
    width: 95%;
    height: 40vh;
    margin-bottom: 0px;
}

.sidebars-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 71vh;
}

.sidebar-title {
    background-color: white;
    width: 95%;
    height: 10vh;
    margin-bottom: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 5vh;
    font-weight: 600;
}

.sidebar-map {
    background-color: #ffffff;
    width: 95%;
    height: 80vh;
}




.main-donations {
    width: 100%;
    display: flex;
    height: 700px;

    gap: 8px;
}

.my-donations {
    width: 50%;
    border: 1px solid #ccc;
    height: auto;
    padding: 8px;
    border-radius: 8px;
}

.donations {
    width: 50%;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: auto;
    position: relative;
}

.header-my-donations {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-donations {
    display: flex;
    align-items: center;
    gap: 10px;
}

.body-donations {
    width: 30%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dona {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    border:1px solid #842241    ;
    border-radius: 8px;

    &&

    .addQuantityDonations {
        display: flex;
        align-items: center;
        gap: 20px;
        
        &&

        p {
            font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        }
    }
}

.sendDonations {
    width: 30%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    position: fixed;
 
 
    && 

    button {
        padding: 18px;
        border-radius: 8px;
        background: none;
        cursor: pointer;
    }

    button:hover {
        border: 1.5px solid #842241;
        padding: 19px;
    }

}




.my-donations {
    overflow: auto;
}


.body-myDonations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
    margin-top: 22px;
    overflow: auto;
}

.card-my-donate {
    display: flex;
    width: 35%;
    align-items: center;
    gap: 12px;
    padding: 28px;
    border: 1px solid #842241;
    border-radius: 8px;
}

.header-card-my-donate {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-my-donate {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.section-one {
    button {
        margin-left: 20px;
        padding: 20px;
    }
}

.hide {
    display: none;
}


.modalUser {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    background-color: #0000005b;

    &&

    .bodyModal {
        width: 550px;
        height: 550px;
        background-color: #fff;
        border-radius: 12px;
        padding: 15px;
    }
}

.modalShowForm {
    display: none
}